* {
  font-family: "Manrope", sans-serif;
  font-size: 14pt;
}

body {
  margin: 20px auto;
  background: #fae5e1;
}

html {
  background: #fae5e1;
}

img {
  border: 1px solid black;
  margin-right: 15px;
  -moz-box-shadow: 2px 2px 2px #888;
  -webkit-box-shadow: 2px 2px 2px #888;
  box-shadow: 2px 2px 2px #888;
}

.username {
  text-align: center;
  background: #eb8;
  color: #40d;
  font-size: 20pt;
  padding: 4px;
}

.center {
  text-align: center;
}

.subhead {
  font-weight: bold;
}

.taken,
.error {
  color: red;
}

.available {
  color: green;
}

.whisper {
  font-style: italic;
  color: #006600;
}

#logo {
  background-color: #ec8074;
  width: 100%;
  height: 7rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleBox {
  color: #fae5e1;
  font-size: 4em;
  font-weight: 200;
  border: 0.1rem solid;
  width: 40rem;
  height: 6rem;
  text-align: center;
}

#robin {
  position: relative;
  border: 0px;
  margin-left: -6px;
  margin-right: 0px;
  top: 17px;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
}

#used {
  margin-top: 50px;
}

.header {
  border: none;
}

.usernameBar {
  width: 100%;
  height: 4rem;
  background-color: #ec8074;
  display: flex;
  justify-items: center;
}

.navBar {
  width: 100%;
  height: 4rem;
  background-color: #ec8074;
  display: flex;
  justify-content: space-around;
}

.navBarButton {
  width: calc(80% / 6);
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
  background-color: transparent !important;
  padding: 5px;
  margin: 5px;
  border: none !important;
  box-shadow: none;
}

.navBarButtonNotActive {
  opacity: 0.5;
}

.navBarIcon {
  height: 2.5rem;
  border: none;
  box-shadow: none;
}

.navBarTitle {
  font-size: 1.4em !important;
  color: white;
  margin-top: calc((2.5rem - 1.4rem) / 2) !important;
  width: 100%;
  text-align: center;
}

.infoMessage {
  font-style: italic;
  margin: 40px 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: #ec8074;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  font-weight: 200;
  letter-spacing: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
