.mainPage {
  width: 100%;
  text-align: center;
  padding-top: calc((50% - 70px - 70px) / 2);
}

.hideMainButtons {
  display: none;
}

.mainPageButton {
  width: 50% !important;
  height: 50px;
  margin: 10px;
  background-color: white !important;
  color: #f3afa8 !important;
  border: 1px solid #f3afa8 !important;
}

.mainPageButton:hover {
  background-color: #f3afa8 !important;
  color: white !important;
}
