.mainPage {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.hideMainButtons {
  display: none;
}

.mainPageButton {
  width: 50% !important;
  height: 50px;
  margin: 10px;
  background-color: white !important;
  color: #ec8074 !important;
  border: 1px solid #ec8074 !important;
}

.mainPageButton:hover {
  background-color: #ec8074 !important;
  color: white !important;
}

