* {
  font-family: "Manrope", sans-serif;
  font-size: 14pt;
}

body {
  margin: 20px auto;
  background: #fae5e1;
}

html {
  background: #fae5e1;
}

.ui-page {
  overflow-y: hidden !important;
}
@media screen and (max-width: 830px) {
  .ui-page {
    overflow-y: auto !important;
  }
}

.taken,
.error {
  color: red;
}

.available {
  color: green;
}

#used {
  margin-top: 50px;
}

.info {
  font-style: italic;
  margin: 40px 0px;
  text-align: center;
}

.center {
  text-align: center;
}

.subhead {
  font-weight: bold;
}

.taken,
.error {
  color: red;
}

.available {
  color: green;
}

.whisper {
  font-style: italic;
  color: #006600;
}

#used {
  margin-top: 50px;
}
