.membersTable {
  width: 100%;
  background-color: #ec8074;
}

.membersTableHeaderTitle {
  font-size: 1.5rem;
  height: 60px;
  background-color: #ec8074;
  color: white;
  font-weight: 200 !important;
}

.statusColumn {
  width: 10%;
}
.nameColumn {
  width: 60%;
}
.actionColumn {
  width: 30%;
}

.membersTableRow {
  width: 50%;
  text-align: center;
  font-size: 1.2rem !important;
  height: 40px;
  background-color: white;
  color: #ec8074;
  font-weight: bold;
  transition: 0.5s;
}

.membersTableRow:hover {
  background-color: #fdeeed;
  letter-spacing: 2px;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
}

.actionsButton {
  width: 30% !important;
  background-color: white !important;
  color: #ec8074 !important;
  border: 1px solid #ec8074 !important;
  font-weight: 200;
  word-break: break-all;
}

.actionsButton:hover {
  background-color: #ec8074 !important;
  color: white !important;
}

.statusIcons {
  height: 4rem;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.profileTableImage {
  height: 4rem;
  width: 50px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.profileRowContainer {
  display: flex;
  justify-content: space-around;
  margin: 0.2rem;
}

.profileTableName {
  font-size: 1em !important;
  width: calc(90% - 50px);
  line-height: 60px;
  cursor: pointer;
}

/* table options */

.optionsContainer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filtersContainer {
  display: inline-flex;
  margin: 0 10px;
}

.searchInput {
  width: 30%;
  height: 30px !important;
  line-height: 12px;
  font-size: 14px;
  color: grey !important;
}

.searchForm {
  display: flex;
}

.searchButton {
  height: 30px;
  width: 30% !important;
  line-height: 12px;
  font-size: 14px;
  background-color: white !important;
  color: #ec8074 !important;
  border: 1px solid #ec8074 !important;
  font-weight: 200;
  margin: 10px;
}

.searchButton:hover {
  background-color: #ec8074 !important;
  color: white !important;
}

.filtersContainer {
  display: inline-flex;
  margin: 0 10px;
}

.filterOption {
  height: 2.5rem;
  margin: 10px 2px;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.filterOption:hover {
  background-color: #ec8074 !important;
}

.paginationContainer {
  display: inline-flex;
  float: right;
  margin: 0 10px;
}

.paginationButton {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: white !important;
  color: #ec8074 !important;
  border: 1px solid #ec8074 !important;
  font-weight: 200;
  margin: 10px 2px;
  font-size: 14px;
}

.paginationButton:hover {
  background-color: #ec8074 !important;
  color: white !important;
}

.selectedPage {
  background-color: #ec8074 !important;
  color: white !important;
}

.buttonImages {
  height: 20px;
  max-width: 20px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  filter: invert(1) brightness(150%);
}

.emptyTableInfo {
  width: 100%;
  background-color: white;
  color: #ec8074;
  font-size: 1.2rem !important;
  text-align: center;
  border: 1px solid #ec8074 !important;
}

@media screen and (max-width: 830px) {
  .membersTable {
    width: 100vw;
    display: block !important;
    overflow-x: scroll;
  }

  .statusColumn {
    width: 5rem;
  }
  .nameColumn {
    width: 20rem;
    min-width: 250px;
  }
  .actionColumn {
    min-width: 330px;
    width: 26rem;
  }

  .membersTableHeaderTitle {
    font-size: 1.2rem !important;
  }

  .profileTableName {
    font-size: 0.8em !important;
  }

  .statusIcons {
    height: 2.5rem !important;
  }

  .optionsContainer {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
