.profileNameContainer {
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.profileName {
  font-size: 1.2rem !important;
  color: #ec8074 !important;
}

.profileContainer {
  width: 100%;
  display: flex;
}

.profilePicContainer {
  width: 40%;
  padding: 2rem 5%;
  text-align: center;
}

.profileAboutForm {
  width: 40%;
  padding: 2rem 5%;
}

.profilePic {
  background: transparent;
  border: none !important;
  box-shadow: none !important;
  max-width: 100%;
  max-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileButton {
  width: 100% !important;
  height: 3rem !important;
  background-color: white !important;
  color: #f3afa8 !important;
  border: 0.1rem solid #f3afa8 !important;
  margin-top: 1rem;
}

.profileButton:hover {
  background-color: #f3afa8 !important;
  color: white !important;
}

.aboutInput {
  height: 30rem !important;
  padding: 0 !important;
}

textarea,
input {
  width: 100% !important;
  height: 30rem !important;
  background-color: white !important;
  color: #f3afa8 !important;
  border: 1px solid #f3afa8 !important;
  margin: 0 !important;
  font-size: 1rem !important;
  color: grey !important;
  font-family: "Manrope" !important;
  font-weight: 200 !important;
}

input {
  height: 2.5em !important;
}

.sendMessageButton {
  width: 50% !important;
  display: unset;
  margin-bottom: 1rem;
}

@media screen and (max-width: 830px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
  }

  .profilePicContainer{
    width: 70%;
  }

  .profileAboutForm{
    width: 70%;
  }

  .aboutInput {
    height: 15rem !important;
  }
}
